textarea {
  resize: none;
  border: none;
}
.textarea-card {
  text-align: center;
  font-size: 0.75rem;
}
.base-card {
  height: 310px;
  width: 250px;
  padding: 0;
}
.base-card > .card > .card-content {
  padding: 0;
}
.nav-title {
  margin-bottom: 0;
  font-size: 1.2rem !important;
  font-weight: 600;
}
.source-text {
  font-size: 1.2rem;
  color: aliceblue;
}
