<!DOCTYPE html>
<html lang="en" class="has-background-dark">
  <head >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav
      class="navbar is-link"
      role="navigation"
      aria-label="main navigation"
    >
      <a class="navbar-item" href="https://github.com/bleumont" target="_blank">
        <img
          src="{{ url_for('static', filename='img/github.png') }}"
          width="32"
          height="32"
          alt="GitHub"
      />&nbsp;<span class="source-text">View source</span></a>
      <div class="navbar-item navbar-end" ">
        <input type="search" id="search-box" placeholder="Search note..." />
      </div>
    </nav>
    <div class="container">
      <br>
      <h1 class="title is-dark">TODO TASKS</h1>
      <div class="columns is-multiline" id="notes">
        {% block body %} {% endblock %}
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <scrip
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></scrip>
  </body>
</html>
