<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <h1 class="title">TODO TASKS</h1>
      <br />
      <div class="columns is-multiline">{% block body %} {% endblock %}</div>
    </div>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <scrip
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></scrip>
  </body>
</html>
